* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #232732;
  --font: poppins;
  --pri-color: white;
  --sec-color: #d32d20;
  --bd-color: #7733ff;
  --padding-color: #24272c;
}
body {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  font-family: poppins;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.nav a {
  text-decoration: none;
  color: var(--pri-color);
  padding: 1rem 2rem;
  background-color: var(--padding-color);
  margin-top: 5rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.nav .bars {
  display: none;
}
.hey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  color: var(--pri-color);
  gap: 1.5rem;
}
.hey img {
  width: 500px;
}
.hey #h {
  font-size: 30px;
  font-weight: 300;
}
.hey .mac {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hey .mac #i {
  font-size: 50px;
  font-weight: 700;
}
.hey .mac .eng {
  font-size: 30px;
}
.hey .mac .eng #e {
  color: var(--sec-color);
  border-right: 4px solid var(--sec-color);
  padding-right: 0.3rem;
}
.hey #a {
  text-align: center;
  font-weight: 200;
}
.hey .link {
  display: flex;
  gap: 3rem;
}
.hey .link a {
  background-color: var(--padding-color);
  border: none;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  color: var(--pri-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: var(--pri-color);
}
.about img {
  width: 500px;
}
.about .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about .text #a {
  font-size: 25px;
}
.about .text #i {
  font-weight: 200;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 25px;
  margin-top: 7rem;
}
.projects .pro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--pri-color);
}
.projects .pro .line {
  display: flex;
  width: 70vw;
  height: 4px;
  background: transparent;
}
.projects .pro .line .line1 {
  flex: 3;
  background-color: #8a2be2;
  border-radius: 4px 0 0 4px;
}
.projects .pro .line .line2 {
  flex: 1;
  background-color: #f4a261;
  border-radius: 0 4px 4px 0;
}
.projects .links {
  display: flex;
  gap: 3rem;
  font-size: 16px;
}
.projects .links a {
  text-decoration: none;
  color: var(--pri-color);
  background-color: var(--padding-color);
  padding: 0.3rem 3rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.projects .links #p {
  background-color: var(--bd-color);
}
.projects .image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
  margin-top: 2rem;
}
.projects .image .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.projects .image .img img {
  width: 120px;
}
.projects .image .dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--pri-color);
  gap: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 5px;
}
.projects .image .dash #re {
  width: 250px;
}
.projects .image .dash .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.projects .image .dash .text #c {
  font-size: 20px;
  font-weight: 600;
}
.projects .image .dash .text #a {
  font-size: 15px;
  font-weight: 200;
}
.projects .image .dash #i {
  width: 40px;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--pri-color);
  align-items: center;
  font-size: 25px;
  margin-top: 5rem;
}
.skills .line {
  display: flex;
  width: 70vw;
  height: 4px;
  background: transparent;
}
.skills .line .line1 {
  flex: 3;
  background-color: #8a2be2;
  border-radius: 4px 0 0 4px;
}
.skills .line .line2 {
  flex: 1;
  background-color: #f4a261;
  border-radius: 0 4px 4px 0;
}
.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 7rem;
  padding: 1rem 3rem;
}
.language a {
  padding: 0.3rem 3rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-size: 20px;
  background-color: var(--bd-color);
  color: white;
}
.language .img {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.certi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--pri-color);
  align-items: center;
  font-size: 25px;
  margin-top: 5rem;
}
.certi .line {
  display: flex;
  width: 70vw;
  height: 4px;
  background: transparent;
}
.certi .line .line1 {
  flex: 3;
  background-color: #8a2be2;
  border-radius: 4px 0 0 4px;
}
.certi .line .line2 {
  flex: 1;
  background-color: #f4a261;
  border-radius: 0 4px 4px 0;
}
.doc {
  display: flex;
  align-items: center;
  margin-top: 7rem;
  justify-content: center;
  gap: 2rem;
}
.doc img {
  width: 280px;
}
.doc #s {
  scale: 1.5;
}
.exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.exp .expe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--pri-color);
  font-size: 25px;
  align-items: center;
  margin-top: 8rem;
}
.exp .expe .line {
  display: flex;
  width: 70vw;
  height: 4px;
  background: transparent;
}
.exp .expe .line .line1 {
  flex: 3;
  background-color: #8a2be2;
  border-radius: 4px 0 0 4px;
}
.exp .expe .line .line2 {
  flex: 1;
  background-color: #f4a261;
  border-radius: 0 4px 4px 0;
}
.exp .link {
  display: flex;
  gap: 6rem;
  font-size: 16px;
  align-items: center;
}
.exp .link a {
  text-decoration: none;
  color: var(--pri-color);
  background-color: var(--padding-color);
  padding: 0.3rem 3rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.exp .link #e {
  background-color: var(--bd-color);
}
.first {
  color: #5d5c5c;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 10rem;
}
.first .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.first .text #t {
  font-weight: 600;
}
.first .text #g {
  font-size: 16px;
  font-weight: 500;
}
.first .text #a {
  font-size: 13px;
}
.first img {
  width: 60px;
}
.second {
  color: #5d5c5c;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}
.second .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.second .text #t {
  font-weight: 600;
}
.second .text #g {
  font-size: 16px;
  font-weight: 500;
}
.second .text #a {
  font-size: 13px;
}
.second img {
  width: 60px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--pri-color);
  align-items: center;
  font-size: 25px;
  margin-top: 7rem;
}
.contact .line {
  display: flex;
  width: 70vw;
  height: 4px;
  background: transparent;
}
.contact .line .line1 {
  flex: 3;
  background-color: #8a2be2;
  border-radius: 4px 0 0 4px;
}
.contact .line .line2 {
  flex: 1;
  background-color: #f4a261;
  border-radius: 0 4px 4px 0;
}
.icontext {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
  gap: 6rem;
}
.icontext .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.icontext .form .f {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.icontext .form .f #n {
  padding: 1rem 5rem 1rem 01rem;
  background-color: var(--padding-color);
  border: none;
  text-align: start;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.icontext .form .f #m {
  background-color: var(--padding-color);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 1rem 5rem 5rem 1rem;
}
.icontext .form #s {
  background-color: var(--padding-color);
  border: none;
  color: var(--pri-color);
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 0.6rem 2rem;
  border-radius: 15px;
}
.icontext img {
  width: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem 0rem 2rem;
  border-radius: 15px;
  margin-bottom: 3.3rem;
}
@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    height: 100%;
  }
  .nav {
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
  }
  .nav a {
    padding: 0.5rem 1rem;
    margin-top: 5rem;
  }
  .nav .bars {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.8rem;
  }
  .nav .bars .icon {
    font-size: 1.7rem;
    color: white;
    padding: 1rem;
    background-color: var(--bd-color);
    border-radius: 50%;
  }
  .nav .bars .close {
    display: none;
  }
  .hey img {
    width: 300px;
  }
  .hey #h{
    font-size: 25px;
    font-weight: 400;
  }
  .hey .mac #i{
    font-size: 30px;
  }
  .hey .mac .eng{
    font-size: 24px;
  }
  .hey #a{
font-size: 11px;
  }
  .hey .link{
    gap: 1.5rem;
  }
  .hey .link a{
    padding: 0.5rem .9rem;
  }
  .about{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .about img{
    width: 300px;
  }
  .about .text{
    align-items: center;
  }
  .about .text #a{
    font-size: 24px;
  }
  .about .text #i{
    font-size: 13px;
  }
  .projects .pro .line{
    width: 85vw;
  }
  .projects .links{
    align-items: center;
    gap: 1rem;
  }
  .projects .links a{
padding: 0.3rem 1rem;
font-size: 13px;
  }
  .projects .image{
    flex-direction: column-reverse;
    gap: 5rem;
  }
  .projects .image .img{
    flex-direction: row;
  }
  .projects .image .img img{
    width:80px;
  }
  .skills .line{
    width: 85vw;
  }
  .language{
    gap: 3rem;
    margin-top: 1rem;
  }
  .language a{
    padding: 0.3rem 1rem;
    font-size: 15px;
  }
  .language .img{
    gap: 2rem;
  }
  .language .img #round{
    width: 200px;
  }
  .language .img #b{
    width: 15px;
  }
  .certi{
    margin-top: 1rem;
  }
  .certi .line{
    width: 85vw;
  }
  .doc{
    gap: .8rem;
    margin-top: 3rem;
  }
  .doc img{
    width: 100px;
  }
  .exp{
    gap: 2rem;
  }
  .exp .expe{
    margin-top: 5rem;
  }
  .exp .expe .line{
    width: 85vw;
  }
  .exp .link{
    gap: 2rem;
  }
  .exp .link a{
    padding: 0.3rem 1rem;
  }
  .first{
    gap: 1rem;
    margin-top: 3rem;
  }
  .first .text{
    padding: .5rem;
  }
  .first .text #t{
    font-size: 15px;
  }
  .first .text #g{
    font-size: 13px;
  }
  .first .text #a{
    font-size: 10px;
  }
  .second{
    gap: 1rem;
    margin-top: 3rem;
  }
  .second .text{
    padding: .5rem;
  }
  .second .text #t{
    font-size: 15px;
  }
  .second .text #g{
    font-size: 13px;
  }
  .second .text #a{
    font-size: 10px;
  }
  .contact .line{
    width: 85vw;
  }
  .icontext{
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
  }
}
